<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Steps to Generate the AI Reply</mat-card-title>
    <mat-card-subtitle>Paste the email you want to reply for</mat-card-subtitle>
    <mat-card-subtitle>Click on the generate reply button</mat-card-subtitle>
    <mat-card-subtitle>Copy the reply and use it in you email</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
   <button mat-flat-button (click)="emmitEvent()">Generate Reply</button>
  </mat-card-actions>
</mat-card> -->

<mat-card class="bg-white shadow-lg rounded-xl p-6 m-10 w-full max-w-xl mx-auto space-y-4">
  <mat-card-header class="space-y-1">
    <mat-card-title>
      Steps to Generate the AI Reply
    </mat-card-title>

    <mat-card-subtitle >
      Paste the email you want to reply for
    </mat-card-subtitle>
    <mat-card-subtitle>
      Click on the generate reply button
    </mat-card-subtitle>
    <mat-card-subtitle>
      Copy the reply and use it in your email
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <button mat-flat-button color="primary"
      (click)="emmitEvent()">
      Generate Reply
    </button >
  </mat-card-actions>
</mat-card>